# ------------------------------------------------------
# | ddddd   eeeee   ccccc   eeeee   bbbbb   u   u |
# | d   d   e       c       e       b    b  u   u |
# | d   d   eeee    c       eeee    bbbbb   u   u |
# | d   d   e       c       e       b    b  u   u |
# | ddddd   eeeee   ccccc   eeeee   bbbbb   uuuuu |
# ------------------------------------------------------
# HomeSmartHome – Docker-Stacks 
# File: .gitignore
# Documentation: https://github.com/DaCeBu/docker-stacks
# Github Project: https://github.com/DaCeBu/docker-stacks.git
# Created by: DeCeBu (Data Excellence, Connectivity and Business)
# ------------------------------------------------------

# Umgebungsdateien
.env
/secrets/

# Konfigurations- und Log-Dateien
*.log
w*.bak
*.swp
*.swo

# Datenbanken & Backup-Dateien
*.db
*.bak

# Temporäre Dateien
.DS_Store

# Docker-Volumen und persistent gespeicherte Daten
/docker-compose.override.yml
#/stacks/*/config/
/stacks/*/.env

# IDE und Editor spezifische Dateien
.vscode/
.idea/

# Systemdateien
.DS_Store
Thumbs.db

# Portainer spezifische Dateien
.portainer/

# Docker Container und Images (lokal gespeichert)
docker-compose.yml.override

# Unbound Laufzeit-Dateien
/stacks/unbound/config/root.hints
/stacks/unbound/config/root.key
/stacks/unbound/config/unbound.pid
/stacks/unbound/config/ca-certificates.crt
/stacks/unbound/config/dev/
/stacks/unbound/config/var/

# fleet-manager Laufzeit files und Secrets
**/wg_confs/*.conf
**/wg-client/wg_confs/*
