services:
  postgresql:
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_USER=${POSTGRES_USER}
    healthcheck:
      interval: 30s
      retries: 5
      start_period: 20s
      test:
      - CMD-SHELL
      - pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}
      timeout: 5s
    image: docker.io/library/postgres:16-alpine
    container_name: authentik-postgresql
    restart: unless-stopped
    volumes:
    - database:/var/lib/postgresql/data
    networks:
      - backend
  server:
    command: server
    depends_on:
      postgresql:
        condition: service_healthy
    environment:
      - AUTHENTIK_POSTGRESQL__HOST=postgresql
      - AUTHENTIK_POSTGRESQL__NAME=${POSTGRES_DB}
      - AUTHENTIK_POSTGRESQL__PASSWORD=${POSTGRES_PASSWORD}
      - AUTHENTIK_POSTGRESQL__USER=${POSTGRES_USER}
      - AUTHENTIK_SECRET_KEY=${AUTHENTIK_SECRET_KEY}
      - AUTHENTIK_ERROR_REPORTING__ENABLED=${AUTHENTIK_ERROR_REPORTING__ENABLED}
    image: ghcr.io/goauthentik/server:2025.10.3
    container_name: authentik-server
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=frontend"
      - "traefik.http.routers.authentik-eval-1-https.entrypoints=websecure"
      - "traefik.http.routers.authentik-eval-1-https.rule=Host(`authentik.home.decebu.com`)"
      - "traefik.http.routers.authentik-eval-1-https.tls=true"
      - "traefik.http.routers.authentik-eval-1-https.tls.certresolver=cloudflare"
      - "traefik.http.routers.authentik-eval-1-https.service=authentik-eval-1-svc"
      - "traefik.http.services.authentik-eval-1-svc.loadbalancer.server.port=9000"
    restart: unless-stopped
    volumes:
    - ./media:/media
    - ./custom-templates:/templates
    networks:
      - frontend
      - backend
  worker:
    command: worker
    depends_on:
      postgresql:
        condition: service_healthy
    environment:
      - AUTHENTIK_POSTGRESQL__HOST=postgresql
      - AUTHENTIK_POSTGRESQL__NAME=${POSTGRES_DB}
      - AUTHENTIK_POSTGRESQL__PASSWORD=${POSTGRES_PASSWORD}
      - AUTHENTIK_POSTGRESQL__USER=${POSTGRES_USER}
      - AUTHENTIK_SECRET_KEY=${AUTHENTIK_SECRET_KEY}
      - AUTHENTIK_ERROR_REPORTING__ENABLED=${AUTHENTIK_ERROR_REPORTING__ENABLED}
    image: ghcr.io/goauthentik/server:2025.10.3
    container_name: authentik-worker
    restart: unless-stopped
    user: root
    volumes:
    - /var/run/docker.sock:/var/run/docker.sock
    - ./media:/media
    - ./certs:/certs
    - ./custom-templates:/templates
    networks:
      - backend
volumes:
  database:
    driver: local

networks:
  frontend:
    external: true
  backend:
    external: true
