services:
  socket-proxy:
    image: tecnativa/docker-socket-proxy
    container_name: socket-proxy
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro # Nur der Proxy darf an den echten Socket
    environment:
      - CONTAINERS=1 # Traefik muss Container lesen können
      - NETWORKS=1   # Traefik muss Netzwerke sehen
      - SERVICES=1   # Für Swarm-Mode (optional, schadet nicht)
      - TASKS=1
    networks:
      - socket-net

  traefik:
    image: traefik:v3 # Besser, latest zu verwenden für Sicherheitsupdates
    container_name: traefik
    restart: unless-stopped
    depends_on:
      - socket-proxy
    ports:
      - "80:80"
      - "443:443"
      #- "8080:8080" # Für das insecure Dashboard
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./config/traefik.yml:/etc/traefik/traefik.yml:ro
      - ./config/conf:/etc/traefik/conf:ro
      - ./config/certs:/etc/traefik/certs/:rw
    environment:
      # Stellt den Token aus der .env-Datei für den dnsChallenge bereit
      - CF_DNS_API_TOKEN=${CF_DNS_API_TOKEN}
    networks:
      - frontend # Traefik ist das einzige Mitglied im Frontend-Netzwerk
      #- backend  # Traefik ist auch im Backend, um mit anderen Diensten zu sprechen
      - socket-net

    #labels:
      #- "traefik.enable=true"
      # http to https redirection can be handled by traefik globally, so no need here
      #- "traefik.http.routers.traefik-http.entrypoints=web"
      #- "traefik.http.routers.traefik-http.rule=Host(`traefik.home.decebu.com`)"
      #- "traefik.http.routers.traefik-https.entrypoints=websecure"
      #- "traefik.http.routers.traefik-https.rule=Host(`traefik.server.decebu.com`)"
      #- "traefik.http.routers.traefik-https.tls=true"
      #- "traefik.http.routers.traefik-https.tls.certresolver=cloudflare"
      #- "traefik.http.routers.traefik-https.service=api@internal"
      #- "traefik.http.routers.traefik-https.middlewares=authentik@file"

networks:
  frontend:
    external: true
  socket-net:
    internal: true
